<!-- <div class="user-review">
    <div class="dashboard-container">
        <div class="header">
                <img src="assets/company_logo_login.png" alt="Logo" class="logo" />
                <h1 class="title">USER REGISTRATION</h1>
                <img src="assets/userIcon.png" alt="Profile Icon" class="profile-icon" />
        </div>
    </div> -->
    <div class="admin-dashboard-container"style="background-color: #e4e9ef;">
      <div class="top-nav">
        <div class="logo">
          <img src="assets/Word-logo.png" alt="Logo" class="logo-img" />
        </div>
        <div class="nav-right">
          <button class="profile-btn">
            <img src="assets/userIcon.png" alt="Profile" class="profile-img" />
          </button>
        </div>
      </div>
      
      <div class="body">
        <div class="sidebar" [class.collapsed]="isCollapsed">
          <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
        <ul>
          <li>
            <i class="icon fa fa-home"></i>
            <span *ngIf="!isCollapsed" routerLink="/admin-dashboard">Dashboard</span>
          </li>
          <li>
            <i class="icon fas fa-book"></i>
            <span *ngIf="!isCollapsed" routerLink="/admin-generate-content">Generate Course</span>
          </li>
          <li>
              <i class="icon fas fa-file-alt"></i>
              <span *ngIf="!isCollapsed" routerLink="/admin-view-content">View Content</span>
          </li>
          <li>
            <i class="icon fas fa-user-check"></i>
            <span *ngIf="!isCollapsed" routerLink="/user-management">User Management</span>
          </li>
          <li>
            <i class="icon fas fa-users"></i>
            <span *ngIf="!isCollapsed" routerLink="/view-users">View All Users</span>
          </li>
          <hr class="divider" />
          <li>
            <i class="icon fas fa-sign-out-alt"></i>
            <span class="logout-link" *ngIf="!isCollapsed">Logout</span>
          </li>
        </ul>
      </div>
    
      <div class="sub-header" [class.shifted]="isCollapsed">
        <h3 class="sub-heading">USER ACCEPTANCE</h3>
        <button class="back-button" routerLink="/admin-dashboard">
          <span class="icon"></span> Back </button>
      </div>

      <div class="dash-container-1" [class.shifted]="isCollapsed">

        <div class="container-2">
          <div class="overlay" *ngIf="isLoading">
            <div class="overlay-content">
              <p>{{ loadingMessage }}</p>
              <div class="spinner"></div>
            </div>
          </div>
          
    <div class="container-2">
      <div *ngFor="let trainer of pendingTrainers" class="u-card">
        <h3>{{ trainer.name }} {{ trainer.surname }}</h3>
        <h5>{{ trainer.email }}</h5>
        <button class="accept-btn" (click)="approveTrainer(trainer.userId)">Accept</button>
        <button class="reject-btn" (click)="rejectTrainer(trainer.userId)">Reject</button>
      </div>
      
    </div>
  </div>
</div>
  