/* Base styling */
* {
    box-sizing: border-box;
  }

  .backround{
    background-color: #12324d;
    height: 80vh;
    border-radius: 10px;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0000CD; /* Background to brand color */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  /* Header styling with logo */
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header img {
    width: 180px; /* Slightly smaller logo */
  }
  
  /* Main container styling */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px; /* Adds some spacing around the container */
  }
  
  .login-box {
    width: 400px;
    background-color: #fff; /* White background for strong contrast */
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* More pronounced shadow for contrast */
    padding: 30px;
  }
  
  /* Panel and form styling */
  .left-panel h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px; /* Reduced padding */
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus {
    border-color: #0000CD; /* Matches brand color */
  }
  
  /* Button styling */
  button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  button:hover {
    background-color: #424445;
  }
  
  /* Additional link styling */
  a {
    text-decoration: none;
    color: #0000CD;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  