<div class="header">
    <!-- Left: Logo -->
    <img src="assets/company_logo_login.png" alt="Company Logo" width="200" />
  </div>
  <div class="backround">
  <div class="login-container">
    <div class="login-box">
      <!-- Left Panel: Sign In Form -->
      <div class="left-panel">
        <h3>Forgot Password</h3>
  
        <form [formGroup]="forgotPasswordForm" (submit)="onForgetPassword();">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" name="email" placeholder="Enter your email" />
          </div>
  
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" id="password" formControlName="password" name="password" placeholder="Enter your new password" />
          </div>

          <div class="form-group">
            <label for="password">Confirm New Password</label>
            <input type="password" id="password" formControlName="newPassword" name="password" placeholder="Confirm your new password" />
          </div>

          <div class="FPbtn">
            <button class="btn-signup" routerLink="/login">Create New Password</button>
          </div>
        </form>
      </div>
    </div>
  
  
  
  <!-- <button routerLink="/dashboard">Go to Dashboard (Test)</button> -->
  