<div class="admin-dashboard-container" style="background-color: #e4e9ef;">

    <div class="top-nav">
      <div class="logo">
        <img src="assets/tut-logo.jpg" alt="Logo" class="logo-img" />
      </div>
      <div class="nav-right">
        <button class="profile-btn">
          <img src="assets/tut-logo.jpg" alt="Profile" class="profile-img" />
        </button>
      </div>
    </div>
  
    <div class="body">
      <div class="sidebar" [class.collapsed]="isCollapsed">
        <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
      <ul>
        <li>
          <i class="icon fa fa-home"></i>
          <span *ngIf="!isCollapsed" routerLink="/admin-dashboard">Dashboard</span>
        </li>
        <li>
          <i class="icon fas fa-book"></i>
          <span *ngIf="!isCollapsed" routerLink="/admin-generate-content">View Bookings</span>
        </li>
        <li>
            <i class="icon fas fa-file-alt"></i>
            <span *ngIf="!isCollapsed" routerLink="/admin-view-content">Analyze Data Usage</span>
        </li>
        <li>
          <i class="icon fas fa-user-check"></i>
          <span *ngIf="!isCollapsed" routerLink="/user-management">User Management</span>
        </li>
        <li>
          <i class="icon fas fa-users"></i>
          <span *ngIf="!isCollapsed" routerLink="/view-users">View All Users</span>
        </li>
        <hr class="divider" />
        <li>
          <i class="icon fas fa-sign-out-alt"></i>
          <span class="logout-link" *ngIf="!isCollapsed">Logout</span>
        </li>
      </ul>
    </div>
  
      
    </div>
  </div>
  